<h1>Users#index</h1>

<h1>Pay and Watch</h1>
<h2>Videos and Accounts</h2>
<div class="row">
  <div class="col-xs-12 main-header">
    <%= link_to "Login", new_user_path %>
    <%= link_to "Sign up", new_user_path %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 main-middle">
    <% @users.each do |user| %>
      <h4> Name: <%= user.name%></h4>
      Age: <%= user.age.to_s%>
    <%end %>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 main-footer">

  </div>
</div>
