// COLORS CONSTANTS
$BLACK_H2: #111111 ;
$GRAY_BG_COMPONENT: #F8F8F8;
$GRAY_BG_PAYMENT_DETAILS: #F7F7F7;
$GRAYLIGHT_H4_PROFILE: #C0BABA;
$AQUA_H2_VIDEO_DETAILS: #568D8D;

// BORDER DASHED
$LIGHTGRAY_BORDER_COMPONENT: lightgray;

$AQUA_NAVLINKS:#005555;

$GRAY_BG_NAVBAR: #F5F5F5;
$GRAY_BG_NAVLINK: #F2F2F2;


// FORMS
$FONT_LABEL_FORM: "Comic Sans MS";
$FONT_H4_PROFILE: "sans-serif";

// COMPONENT LABEL
$BLACK_LABEL_COMPONENT: #333333;
