@import 'config';

.nabvar-component {
   @media screen and (min-width: 1080px){
     #navbarSupportedContent {
       margin-left: 16em;
     }
   }
   @media screen and (max-width: 1079px) {
     #navbarSupportedContent {
       margin-left: 4em;
     }
   }
  .navbar{
    background: $GRAY_BG_NAVBAR;
  }
  .drop-menu {
    padding: 0px;
    margin: 0px;
    z-index: 3000px;
    list-style-type:none;
    display: table;
    display: table-cell;
    vertical-align: middle;
    float: right;
    ul {
      left:-9999px;         // Starting point of the dropdown admin-menu outside the page
      top:-9999px;
      position:absolute;
    	list-style-type:none;
    }
    li:hover {
      position:relative;
      background:$GRAY_BG_NAVLINK;
      // opacity: 0.8;
      ul {
        left:0px;
      	top:3em;
        padding:0px;
      	background:$GRAY_BG_NAVBAR;
        li a {
          color:$AQUA_NAVLINKS;
          padding:1px;
          margin: 5px;
          width:168px;
          text-indent:15px;
          display: block;
          z-index: inherit;
          // background-color:#919D9D;
        }
        li a:hover {
          background:$GRAY_BG_NAVLINK;
        }
      }
    }
    li {
      display: table-cell;
      vertical-align: middle;
      float:left;
      a {
        padding:1em 1.5em;
        display:block;
        color:$AQUA_NAVLINKS;
        text-decoration:none;
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 1.5em;
      }
    }
  }
  #nav .fa-home:before, .fa-user:before, .fa-sign-out:before, .fa-minus:before, .fa-plus:before {
    margin-right: 0.3em;
  }
  .right {
    float:right;
  }
}
