// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//  .control-label{
//   color:navajowhite;
//   font-size: 14px;
//   font-family: sans-serif;
// }

.row{
  h1{
    color: honeydew;
  }
  h4{
    color:lightgray;
  }
  a{

    color:lightcoral;
  }
}
.panel-default{
  h1{
    color: beige;
  }
}
div {
  h1{
    color: beige;
  }
}
