@import "config";

.request-component {

}

.profile-component {
  background: $GRAY_BG_COMPONENT;
  h2 {
    color: $GRAY_H2;
    padding: 0.5em;
    margin: 1em auto;
  }
  h4 {
    font-family: $FONT_H4_PROFILE;
    margin: 0.2em 1.5em;
    color: $GRAYLIGHT_H4_PROFILE;
  }

  .image-profile {
    margin: auto;
  }
  .user-info {
    margin: 1em auto;
  }
  .profile-links a{
    margin: 1em 2em;
  }
}


.sigin-component, .edit-component, .payment-component {
  width: 350px;
  height: auto;
  padding: 2em 3em;
  margin: 2em auto;
  background: $GRAY_BG_COMPONENT;
  border: thin $GRAY_BG_COMPONENT dashed;
  text-align: center;

  label {
    color: #D7D8D8;
    font-size: 1em;
    font-family: $FONT_LABEL_FORM;
  }

  h2 {
    margin-bottom: 1em;
    font-family: sans-serif;
    color: $GRAY_H2;
  }

  input[class="form-control"] {
    font-style: $FONT_LABEL_FORM;
  }

}
