// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-body{
  // p, .control-label{
  //   color:navajowhite;
  //   font-size: 14px;
  //   font-family: sans-serif;
  // }
  .row{
    margin-bottom: 25px;
  }
}

.row{
  h1{
    color: honeydew;
  }
  .description{
    .collapse{
      color:white;
    }
  }

}
