<div class="footer-component">  
  <footer class="footer">
    <div class="container-fluid">
      <h4>Social Media</h4>
      <p> Copyright © powered by Yanny Castrillon 2017. All right reserved. </p>
    </div>
  </footer>
</div>
